<!DOCTYPE html>
<html>
  <head>
    <title><%= @movie.title %></title>
  </head>
  <body>
    <h1><%= @movie.title %></h1>
    <h3>Release Date: <%= @movie.release_date %></h3>
    <h4><em>Director: <%= @movie.director %></em></h4>
    <p><%= @movie.summary %></p>
  </body>
</html>